.sreach {
  width: max-content;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sreach form {
  margin: 0 10px;
  padding: 0 10px;
  width: 400px;
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sreach .input {
  width: 100%;
  height: 90%;
  border: 0;
  outline: none;
  color: #fff;
  background-color: transparent;
}

.sreach .submit {
  display: none;
}